{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="center-form">
        <div class="main-container">
            <form class='form-group' action="{% url 'delete idea' pk=object.pk %}" method="post">
                {{ form.title}}

                <button class="btn-delete" type="submit">Delete</button>
                <p>or   <a  href="{% url 'trade ideas dashboard' %}">Cancel</a></p>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}