{% extends "base.html" %}
{% load custom_filters %}
{% load humanize %}
{% load static %}
{% block content %}


    <section class="idea-container">

        <div class="article-details">
            <div class="sort-navigation">
                {% if  user|is_content_creator or user.pk == article.user_id  or user.is_superuser %}
{#                    <a class='nav-link' href="{% url 'update idea' idea.pk %}">Update idea</a>#}
                    <a class='nav-link' href="{% url 'delete idea' idea.pk %}">Delete idea</a>
                {% endif %}
                <a class='nav-link' href="{{ request.META.HTTP_REFERER }}">Go Back</a>
                <!-- Add more sorting options as needed -->
            </div>
            <h1>{{ object.title }}</h1>
            <div class="tiny-info">
                <p class="card-item-icon">Symbol: {{ object.symbol }}</p>
                <p class="card-item-icon">Category: {{ object.category }}</p>
                <p class="card-item-icon">Published: {{ object.created_at|naturaltime }}</p>
                <p class="card-item-icon">Views: {{ idea.views }}</p>
            </div>
            <div class="article-container">
                <div class="article-img">
                    <img id="myImg" class="article-img" src="{{ idea.idea_image.url }}" alt="{{ idea.title }}">
                    <p class="enlarge-text">Click to enlarge</p>
                </div>
                <div class="article-content">Description: {{ object.description|safe }}</div>
            </div>


            <div class="add-comment">
                <h4>Add a comment:</h4>
                <form method="post" id="commentForm">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </div>

            <h5>{{ comments.count }} Comments: </h5>
            {% for comment in comments %}
                <div class="comments">
                    <div class="comment-author">
                        <p>
                            {% if comment.author.profile.profile_image %}

                                <img src="{{ comment.author.profile.profile_image.url }}" alt="Author Avatar"
                                     class=" avatar">
                            {% else %}
                                <img src="{% static 'images/anonymous-user.webp' %}" alt="Author Avatar"
                                     class=" avatar">
                            {% endif %}
                        </p>
                        <p>{% if comment.author.username %}
                            {{ comment.author.profile.username }} - {{ comment.created_at|date:"d M Y h:m" }}
                        {% else %}
                            {{ comment.author }} - Posted on:{{ comment.created_at|date:"d M Y h:m" }}
                        {% endif %}
                        </p>
                    </div>
                    <p class="comment">{{ comment.content }}</p>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}

            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>

        <div class="side-bar-left">
            <div class="symbol-info">
                {% include 'common/tv-widgets/tv-chart.html' %}

            </div>
         
            <div class="heatmap">
                {% if   object.category  == 'Indicies'  or  object.category == 'Stocks' %}
                    {% include 'common/tv-widgets/tv-heatmap.html' %}
                {% elif  object.category   == 'Forex' %}
                    {% include 'common/tv-widgets/tv-forex-heatmap.html' %}
                {% elif  object.category  == 'Crypto' %}
                    {% include 'common/tv-widgets/tv-crypto-heatmap.html' %}


                {% endif %}

            </div>
        </div>
   <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>

      

    </section>

{% endblock %}
