{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/dashboard-cards.css' %}"/>
    <style>
        body {
            background: black;
        }
    </style>



    {#    <form method="get" action="{% url 'trade ideas dashboard' %}">#}
    {#        <input type="text" name="q" placeholder="Search by title" value="{{ request.GET.q }}">#}
    {#        <input type="submit" value="Search">#}
    {#    </form>#}



    <div class="main">
        <div class="page-info">
            <p>Community </p>
            <h1>IDEAS!</h1>
        </div>

        <div class="filter-container">
            <a href="?filter=most_viewed" class="nav-link">Most Viewed</a>
            <div class="divider"></div>
            <a href="?filter=most_commented" class="nav-link">Most Commented</a>
            <div class="divider"></div>
            <a href="?filter=most_recent" class="nav-link">Most Recent</a>
            <div class="divider"></div>
            <div class="search">
                <form method="get" action="{% url 'trade ideas dashboard' %}" class="filter-form">

                    <select name="category" class="filter-select">
                        <option value="">All Categories</option>
                        {% for value, label in categories %}
                            <option value="{{ value }}"
                                    {% if category == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    {#                 <button type="submit" class="filter-button">#}
                    {#                    <i class="fa fa-search"></i> <!-- Magnifying glass icon -->#}
                    {#                </button>#}
                    <div class="divider"></div>

                    <select name="symbol" class="filter-select">
                        <option value="">Symbol</option>
                        {% for value, label in symbols %}
                            <option value="{{ value }}" {% if symbol == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    {#                 <button type="submit" class="filter-button">#}
                    {#                    <i class="fa fa-search"></i> <!-- Magnifying glass icon -->#}
                    {#                </button>#}
                    <div class="divider"></div>


                    <div class="title-search">
                        <input type="text" name="q" placeholder="Search by title" value="{{ request.GET.q }}"
                               class="filter-input">
                        <button type="submit" class="filter-button">
                            <i class="fa fa-search"></i> <!-- Magnifying glass icon -->
                        </button>
                    </div>

                </form>
            </div>
        </div>


        <div class="all-cards">
            {% for idea in ideas %}

                <div class="card">

                    <a class="card-title" href="{% url 'details idea' idea.pk %}">{{ idea.title|upper }}</a>

                    <img class="card-img" src="{{ idea.idea_image.url }}" alt="{{ idea.title }}"/>

                    <p class="card-text">{{ idea.description|safe |truncatechars:200|sanitize }}...</p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">
                            <small class="text-muted">Published {{ idea.created_at|naturaltime }}</small>
                        </li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Read More</a>

                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="pagination-container">
            <ul class="pagination">
                {% if ideas.has_previous %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ ideas.previous_page_number }}" class="page-link">Previous</a>
                    </li>
                {% endif %}

                {% if ideas.paginator.num_pages > 1 %}
                    {% for i in ideas.paginator.page_range %}
                        {% if ideas.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if ideas.has_next %}
                    <li class="page-item">
                        <a href="?page={{ ideas.next_page_number }}" class="page-link">Next</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ ideas.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>

{% endblock %}
