{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block content %}
 
<div class="idea-container">
    <div class="main">
        
        
        <div class="page-info">
            <p>Community </p>
            <h1>IDEAS!</h1>
        </div>

        <div class="filter-container">
{#        TODO: Debug why not working right#}
{#            <a href="?filter=most_viewed" class="nav-link">Most Viewed</a>#}
{#            <div class="divider"></div>#}
            
            <a href="?filter=most_commented" class="nav-link">Most Commented</a>
            <div class="divider"></div>
            <a href="?filter=most_recent" class="nav-link">Most Recent</a>
            <div class="divider"></div>
            <div class="search">
                <form method="get" action="{% url 'trade ideas dashboard' %}" class="filter-form">

                    <select name="category" class="filter-select">
                        <option value="">All Categories</option>
                        {% for value, label in categories %}
                            <option value="{{ value }}"
                                    {% if category == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
           
                    <div class="divider"></div>

                    <select name="symbol" class="filter-select">
                        <option value="">Symbol</option>
                        {% for value, label in symbols %}
                            <option value="{{ value }}" {% if symbol == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
            
                    <div class="divider"></div>


                    <div class="title-search">
                        <input type="text" name="q" placeholder="Search by title" value="{{ request.GET.q }}"
                               class="filter-input">
                        <button type="submit" class="filter-button">
                            <i class="fa fa-search"></i> <!-- Magnifying glass icon -->
                        </button>
                    </div>

                </form>
            </div>
        </div>


        <div class="all-cards">
            {% for idea in ideas %}

                <div class="card">

                    <a class="card-title" href="{% url 'details idea' idea.pk %}">{{ idea.title|upper }}</a>

                    <img class="card-img" src="{{ idea.idea_image.url }}" alt="{{ idea.title }}"/>

                    <p class="card-description">{{ idea.description|safe |truncatechars:200|sanitize }}...</p>

                    <div class="info-1">
                        <p class="card-item-icon">Category {{ idea.category }}</p>
                <p class="card-item-icon"><i class="fa-regular fa-eye"></i> {{ idea.views }}</p>
                    </div>                    
                 
                    
                    <div class="info-2">
                                <div class="card-info-left">
                                    {% if idea.user.profile.username %}
                                        <p class="card-item"><small class="card-item small">
                                            by {{ idea.user.profile.username }}</small></p>
                                    {% elif idea.user %}
                                        <p class="card-item"><small class="card-item small">
                                            by {{ idea.user }}</small></p>
                                    {% elif idea.author_name %}
                                        <p class="card-item"><small class="card-item small">
                                            by {{ idea.author_name }}</small></p>
                                    {% else %}
                                        <p class="card-item"><small class="card-item small"> by Editor</small></p>
                                    {% endif %}
                                    <p class="card-item"><small
                                            class="card-item small">Published {{ idea.created_at |naturaltime}}</small></p>
                                </div>
                    
{#                    TODO: Numbers not showing#}
                                <p class="card-item-icon"><i
                                        class="fa-regular fa-comments"></i> {{ idea.num_comments }}</p>
                            </div>
                    
                    
{#                    <div class="card-body">#}
{#                        <a href="#" class="card-link">Read More</a>#}
{##}
{#                    </div>#}
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="pagination-container">
            <ul class="pagination">
                {% if ideas.has_previous %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ ideas.previous_page_number }}" class="page-link">Previous</a>
                    </li>
                {% endif %}

                {% if ideas.paginator.num_pages > 1 %}
                    {% for i in ideas.paginator.page_range %}
                        {% if ideas.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if ideas.has_next %}
                    <li class="page-item">
                        <a href="?page={{ ideas.next_page_number }}" class="page-link">Next</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ ideas.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>

    <div class="divider-vertical-page"></div>
    <div class="side-bar-left">
    
            <div class="side-bar-div">
                <h2>Useful Links</h2>
                <ul>
                    <li><a href="https://www.tradingview.com/">Tradingview </a></li>
                    <li><a href="https://x.woo.org/register?ref=RIOTRIOT">WOO</a></li>
                    <li><a href="https://tradingriot.com/blog">Tradingriot Blog</a></li>
                    <li><a href="https://www.youtube.com/channel/UCzNpiFiu-8b5mS3yOMhH5XA">Financial Markets
                        Microstructure</a></li>
                    {#        <li><a href="#">Tradingriot Blog</a></li>#}
                    {#        <li><a href="#">Tradingriot Blog</a></li>#}
                </ul>
            </div>
{#            <div class="side-bar-div">#}
{#                <h2>Never miss new articles. Enter your email below!</h2>#}
{#                <form action="#" method="post">#}
{#                    <label for="email">Email:</label>#}
{#                    <input type="email" id="email" name="email" required>#}
{#                    <button class="btn-primary" type="submit" value="Save">Save</button>#}
{#                </form>#}
{#            </div>#}

                        <div class="widget">
                 
                            {% include 'common/tv-widgets/tv-top-stories-widget.html' %}

                        </div>
        
    
    </div>

</div>    
{% endblock %}
