{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="center-form">
        <div class="register">


            <form method="post" action="{% url 'profile change password' pk=request.user.pk %}">
                <h1>Change your password</h1>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

                <div class="row">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}

                    {% endfor %}
                    {% csrf_token %}

                    <button class="btn-primary" type="submit" value="Save">Save</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}



       
