{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="main-container">
    <form action = "{% url 'profile delete' pk=request.user.pk %}" method = 'post' >
{#        <form action = {% url 'login' %}?next={{ next }}   method='post'         #}
        
        <div class="delete-profile">
             <p>{{  profile.user.username }}</p> 
        <h1>
            Are you sure you want to delete your profile?
        </h1>

 
      </div>
            
        
     
        {% csrf_token %}
        <button type="submit">Delete</button>
        or <a href="{% url 'index' %}">Cancel</a>
    </form>
</div>
{% endblock %}