{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{##}
{#{% block content %}#}
{##}
{#    <div class="container">#}
{#    <form action = {% url 'profile details' pk=request.user.pk %} >#}
{#        <form action = {% url 'login' %}?next={{ next }}   method='post'         #}
{#        #}
{#        #}
{#            #}
{#         <div class="form-row">#}
{#             <div class="form-group col-md-4 mb-0">#}
{#                 {{ profile.user|as_crispy_field}}#}
{#                    <p>{{  object.user.email }}</p> #}
{#                 #}
{#                 <p>Date of birth: {{ object.date_of_birth|date:"Y-m-d"}}</p> #}
{#                 <p>Trading from: {{ object.trading_from }}</p> #}
{#            </div>#}
{#         #}
{#        TODO does not visualize ??! #}
{#     #}
{# #}
{#                #}
{#                 {% if object.date_of_birth %}#}
{#            <p>Date of birth: {{ object.date_of_birth|date:"Y-m-d" }}</p>#}
{#         {% else %}#}
{#                <p>Date of birth: Not provided</p>#}
{#         {% endif %}#}
{#             {% if object.profile_image %}#}
{#              <div class="form-group col-md-4 mb-0">#}
{#                  {{ profile.user.password2|as_crispy_field }}#}
{#                   <img width="100" class='profile-image' src='{{ object.profile_image  }}' alt='profile pic'/> #}
{#             </div>#}
{#             {% endif %}#}
{#         </div>#}
{#        {% csrf_token %}#}
{#        <a href="{% url 'delete profile' %}">Delete</a>#}
{#        or <a href="{% url 'update profile' %}">Update Profile</a>#}
{#    </form>#}
{#</div>#}
{#{% endblock %}#}
{##}
{##}

{% block content %}
   
        <div class="main-container">
        <h1>Client Profile Details</h1>
        <h2>{{ request.user }}</h2>

        {% if object.profile_image. %}
            <img src="{{ object.profile_image.url }}" class="profile-image" alt="profile_picture">
        {% else %}
            <img src="{% static 'images/anonymous-user.webp' %}" alt="default_profile_picture" class="profile-image">
        {% endif %}
        <ul>
            <li><b>Email:</b> {{ object.user.email }}</li>
            <li><b>Phone:</b> {{ object.phone }}</li>
            <li><b>First Name:</b> {{ object.first_name }}</li>
            <li><b>Last Name:</b> {{ object.last_name }}</li>
            <li><b>City:</b> {{ object.city }}</li>
        </ul>
{#        <button><a href="{% url 'edit-client' %}" class="link-button">Edit Profile</a></button>#}
{#        <button><a href="{% url 'delete-account' %}" class="link-button">Delete Profile</a></button>#}
{#        <button><a href="{% url 'change-password' %}" class="link-button">Change Password</a></button>#}
{#        <button><a href="{% url 'reservation-list' pk=object.pk %}" class="link-button">Manage Reservations</a></button>#}
{#        <button><a href="{% url 'client-reviews-list' pk=object.pk %}" class="link-button">My Reviews</a></button>#}
 
{% endblock %}