{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="container">
    <form action = {% url 'profile details' pk=request.user.pk %} >
{#        <form action = {% url 'login' %}?next={{ next }}   method='post'         #}
        
        
            
         <div class="form-row">
             <div class="form-group col-md-4 mb-0">
{#                 {{ profile.user|as_crispy_field}}#}
                    <p>{{  object.user.email }}</p> 
                 
                 <p>Date of birth: {{ object.date_of_birth }}</p> 
                 <p>Trading from: {{ object.trading_from }}</p> 
            </div>
         
{#        TODO does not visualize ??! #}
         {% if object.date_of_birth %}
             <div class="form-group col-md-4 mb-0">
                <p>{{ object.date_of_birth }}</p> 
{#                  {{ profile.user.password|as_crispy_field }}#}
                
             </div>
          {% endif %}
             {% if object.profile_image %}
{#              <div class="form-group col-md-4 mb-0">#}
{#                  {{ profile.user.password2|as_crispy_field }}#}
                   <img width="100" class='profile-image' src='{{ object.profile_image  }}' alt='profile pic'/> 
{#             </div>#}
             {% endif %}
         </div>
        {% csrf_token %}
{#        <a href="{% url 'delete profile' %}">Delete</a>#}
{#        or <a href="{% url 'update profile' %}">Update Profile</a>#}
    </form>
</div>
{% endblock %}