{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}"/>    
    
<div class="register">

    <h2>Sign in to your account</h2>
    <form action="{% url 'login' %}" method="post">
        <div class="form-row">
             <div class="form-group col-md-4 mb-0">
                 {{ form.username|as_crispy_field}}
            </div>
             <div class="form-group col-md-4 mb-0">
                  {{ form.password|as_crispy_field }}
             </div>
         </div>
        <button class="btn-primary" type="submit">Login</button>
        <p>Don't have an account? <a href="{% url 'register' %}">Join here </a></p>
{#        <input type="hidden" value="{{next}}" name="next">#}
        {% csrf_token %}
    </form>
</div>

{% endblock %}

