{% extends "base.html" %}
{% load url_replace %}
{% load static %}
{% load humanize %}
   {% block search %}
    <form method="get" action="{% url 'education articles' %}">
        <input type="text" name="q" placeholder="Search by title" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
    </form>
        {% endblock search %}
{% block content %}
    <style>

        body {
            {#background: cornflowerblue;#}
             background: black;
        }

        .all-cards{
            font-size: 13px;
    {#margin-bottom: 20px;#}
    {#padding: 0 10px;#}

  display: flex;
  flex-direction: row;
  {#flex-wrap: wrap;#}
  gap: 2vw;
  {#align-items: center;#}
  justify-content: center;
  {#text-align: center;#}
        }

        .card {
           
    background-color: black;
    border-radius: 6px;
         box-shadow: 0 0 0 1px #363a45;
    {#box-sizing: border-box;#}
    display: flex;
    {#flex: 1 0 auto;#}
    flex-direction: column;
            width: 360px;
            height: 480px;
    overflow: hidden;
    padding: 20px;
            color: white;
    {#position: relative;#}
}
        .card-title{
            font-size: 1.25rem;
            text-decoration: none;
            color: #d1d4dc;
            padding-bottom: 6px;
            
        }
        .card-title:hover{
                        color: green;
            
        }
        
        .card-img
        {
            background-color: black;
            box-shadow: 0 0 0 1px #363a45;
            {#box-shadow: 0 0 0 1px #e0e3eb;#}
            {#height: 8rem;#}
            align-items: center;
            border-radius: 3px;
    box-sizing: border-box;
    display: block;
    max-height: 160px;
    width: 100%;
            object-fit: cover;
            margin-bottom: 6px;

        }

        li {padding: 10px;}

    .pagination {
        display: flex;
        color:white;
        
    }


    </style>
 
    <h2>Our best setups!</h2>
    <div class="all-cards">
    {% for article in articles %}

        <div class="card" >
            <a class="card-title" href="{% url 'article details' article.slug %}">{{ article.title| upper  }} </a>
            
            <img class="card-img" src="{{ article.image.url }}" alt="{{ article.title }}">
            <div class="card-body">
                
                <p class="card-text">{{ article.description|safe |truncatechars:200 }}...</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category</li>
{#                <li class="list-group-item">#}


{#                    <small class="text-muted">Published {{ article.created_at|naturaltime }}</small>#}
{#                </li>#}
                    <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Read More</a>
                <a href="#" class="card-link">See Gallery</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
    <p>Has previous? {{ articles.has_previous }}</p>
        <p>'     .............     '</p>
        <br>
    <p>Nas next?  {{ articles.has_next }}</p>
     <p>'     .............     '</p>
        <br>
    <p>Nuber  {{ articles.number }}</p>
    
     <p>'     .............     '</p>
        <br>
    <p>Number of pages  {{ articles.paginator.num_pages }}</p>
    <p>'     .............     '</p>
        <br>
    <p>Previouse page number {% if articles.previous_page_number is not None %} {{ articles.previous_page_number }} {%  endif %}</p>
    </div>




{% endblock %}
