{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

    <style>
        body {
            background-image: url('{% static 'images/bckg-image.png' %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

    <div class="main">

        <div class="center item">

            <div class="home-card">
                <p>Get premium education</p>
                <h1>LEARN</h1>
            </div>

            <div class="home-card">
                <h1>SHARE</h1>
                <div>
                    <p>Join our community</p>
                    <p>Share your trading idea</p>
                </div>

            </div>

            <div class="home-card">
                <img src="{% static 'images/logo.png' %}" alt="logo"/>
                <h1>GROW</h1>
            </div>


        </div>


    </div>
    <div class="home-card-counters">
        <div class="counters">
            <img class="home-icon" src="{% static 'images/article-icon.png' %}" alt='article-count-icon'/>
            <h3>{{ articles_count }}</h3>
        </div>
        {#                <div class="counters">#}
        {#                    <img src="{% static 'images/article-icon.png' %}" alt='authors-count-icon'/>#}
        {#                    <h3>Authors: {{ content_creators_count }}</h3>#}
        {#        <p>Number of Registered Users Online: {{ online_users_count }}</p>#}
        {#                </div >#}
        <div class="counters">
            <img class="home-icon" src="{% static 'images/users-icon.png' %}" alt='user-count-icon'/>
            <h3>{{ users_count }} </h3>
        </div>
        <div class="counters">
            <img class="home-icon" src="{% static 'images/idea-icon.png' %}" alt='ideas-count-icon'/>
            <h3>{{ ideas_count }}</h3>
        </div>
    </div>

    {% include 'common/tv-widgets/tradingview-ticker.html' %}


{% endblock %}


