{% extends 'base.html' %}
{% load static %}
{% block content %}





<div class="main-container">
    <div class="terms">
    <h1>Terms and Conditions</h1>
   </div>
    <div class="terms-content">
        <h2>Welcome to TrendSetter</h2>

        <p>Please read these Terms and Conditions carefully before using the TrendSetter website operated by TrendSetter.</p>

        <h3>Disclaimer</h3>
        <p>We are not a financial advisor and do not provide financial advice. Trading in financial markets involves risks, including the risk of losing your entire investment. Trading Markets is for educational and entertainment purposes only. Any information provided on this site should not be considered as financial advice. We are not responsible for any profits or losses you may incur.</p>

        <h3>General</h3>
        <p>By accessing and using the Trading Markets website, you accept and agree to be bound by the terms and provisions of this agreement. If you do not agree to abide by the terms and conditions of this agreement, you should not access or use the Trading Markets website.</p>

        <h3>Changes to Terms</h3>
        <p>We reserve the right to modify these terms and conditions at any time. It is your responsibility to review these terms periodically for updates.</p>

        <h3>Limitation of Liability</h3>
        <p>In no event shall TrendSetter, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of, or inability to access or use, the website; (ii) any conduct or content of any third party on the website; (iii) any content obtained from the website; and (iv) unauthorized access, use, or alteration of your transmissions or content.</p>

    </div>

</div>

{% endblock %}