{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TrendSetter</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<body>

<section id="top">
    <header class="header">
        <div class="logo">

            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %} " width="150" alt="TRENDSETTER">
            </a>
        </div>

        <nav class="navigation">


            <ul role="list">
                <li class="nav-item"><a href="{% url 'education articles' %}" class="nav-link ">Education</a></li>
                <div class="divider"></div>
                <li class="nav-item"><a href="{% url 'trade ideas dashboard' %}" class="nav-link">Ideas</a></li>
                <div class="divider"></div>

                {% if not request.user.is_authenticated %}

                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>

                {% else %}

                    <li class="nav-item"><a href="{% url 'create idea' %}" class="nav-link">Share Idea</a></li>
                    <div class="divider"></div>
                    {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item"><a href="{% url 'create article' %}" class="nav-link">Create Article</a>
                        </li>
                    {% elif user.is_authenticated and user|is_content_creator %}
                        <li class="nav-item"><a href="{% url 'create article' %}" class="nav-link">Create Article</a>
                        </li>
                    {% endif %}


                    <div class="profile">
                        {% if request.user.profile.profile_image %}
                            <img src="{{ request.user.profile.profile_image.url }}" alt="Profile Picture"
                                 class="profile-img" id="profileBtn">
                        {% else %}
                            <img src="{% static 'images/anonymous-user.webp' %}" alt="Profile Picture"
                                 class="profile-img" id="profileBtn">

                        {% endif %}
                        <div class="dropdown-menu" id="dropdownMenu">
                            {#                            <h6>{{ request.user }}</h6>#}

                            <a href="{% url 'profile details'  pk=user.pk %}" class="dropdown-item">Profile Details</a>

                            <form id="logout-form" class="dropdown-item" action="{% url 'logout' %}" method="post">

                                <button type="submit">Log Out</button>
                                {% csrf_token %}
                            </form>

                        </div>
                    </div>

                    {#                            <img src="{{ request.user.profile_image.url }}" alt="profile-picture-thumbnail" class="profile-picture-thumbnail">#}
                    {#                        #}
                    {#                            <img src="{% static 'images/default-profile-picture.jpg' %}" alt="default_profile_picture" class="profile-picture-thumbnail">#}


                {% endif %}

            </ul>
        </nav>
    </header>
</section>

<section id="main-section">
    {#    <img src="{% static 'images/openart-e3b81b435459467ead2de190b4d5e7cd.png' %}" alt="Background img" class="hero-bg" />#}

    {% block content %}
    {% endblock %}

</section>

<footer>

    <div class="footer-left">

        <div class="created-by">
            <p>Created by ihristoff</p>
            <p>student at <a href="https://softuni.bg" class="softuni-link">SoftUni</a></p>
        </div>
        <div class="footer-center">
            <ul role="list">
                <li><a href="{% url 'about' %}" class="footer-link">About us</a></li>
                <li><a href="{% url 'faq' %}" class="footer-link">FAQ</a></li>
            </ul>
        </div>
    </div>


    <div class="footer-right">
        <div class="footer-center">
            <ul role="list">
                <li><a href="{% url 'terms and conditions' %}" class="footer-link">Terms and conditions</a></li>
                <li><a href="{% url 'contact' %}" class="footer-link">Contact</a></li>
            </ul>
        </div>

        <div class="socials">

            <div class="social-icons">
                <a href="https://discord.gg/SH7ERRZ9" class="footer-link"><i
                        class="fa-brands fa-discord"></i></a>
                <a href="https://www.instagram.com/forexdoc.htc/?hl=en" class="footer-link"><i
                        class="fa-brands fa-instagram icon"></i></a>
                <a href="https://github.com/ihristoff" class="footer-link"><i
                        class="fa-brands fa-square-github"></i></a>
                <a href="https://twitter.com/JohnKicklighter" class="footer-link"><i
                        class="fa-brands fa-square-x-twitter"></i></a>
                <a href="https://www.youtube.com/@FrozenTundraTrader" class="footer-link"><i
                        class="fa-brands fa-square-youtube"></i></a>

            </div>
        </div>
    </div>

</footer>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>