
.register,
.main-container {

    /*background-color: #131722;*/
    border-radius: 3px;
    box-shadow: 0 0 0 1px lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    min-width: 400px;


    /*overflow: hidden;*/
    padding: 1rem;
    color: white;
    /*position: absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform: translate(-50%, -50%);*/

}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    color: white;

}


.form-group {
    color: white;
    margin-bottom: 0.25rem;
    align-items: center;
    padding: 0.5rem;


}

/* Label styling */
.form-group label {
    display: block;
    font-weight: bold;

    margin-bottom: 5px;
    margin-top: 8px;
}

/* Input field styling */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 0.5rem;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;

    align-content: center;
}


.form-control.error {
    border-color: red; /* Set the border color for invalid fields */
}

.error-message, .errorlist, .alert, .alert-danger {
    color: red; /* Set the color for error messages */
    font-size: 14px; /* Optional: Set the font size for error messages */
    font-weight: bold; /* Optional: Set the font weight for error messages */
}


/* Button styling */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: darkgreen;
}


a {
    font-size: 1rem;
    color: green;
}


.profile-info {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 3rem;
}

.profile-details{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 1rem;
}

.profile-image {
    width: 200px;
    height: 100%;

}

.profile_control {
    margin-top: 1rem;
    padding: 0.5rem;
    display: block;
}


.btn-delete {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}