


#ratingForm {
    width: 300px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
}

#ratingForm input[type="hidden"] {
    float: right;
    opacity: 0;
    position: absolute;
}

#ratingForm button {
    float: right;
    color: #aaa;
    text-decoration: none;
    background: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    /*-webkit-transition: color 0.4s;*/
    /*-moz-transition: color 0.4s;*/
    /*-o-transition: color 0.4s;*/
    /*transition: color 0.4s;*/
}
.rating {
    display: flex;
    align-items: center;
}

.star {
    font-size: 24px;
    color: orange;
}

.avg-rating {
    margin-left: 10px;
    font-size: 18px;
}

.no-rating {
    margin-left: 10px;
    font-size: 0.5rem;
    color: #aaa;
}